  * {
    margin:0;
  }

  body,
  p {
    font-family: "Zen Old Mincho", "Georgia", serif;
    background-color: lightyellow;
    font-size: 20px;
    line-height: 2em;
  }

  strong, 
  em {
    color:blue;
  }

  h1 {
    color:forestgreen;
    font-size: 35px;
  }

  h2 {
    color:orange;
    font-size: 30px;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  h3 {
    color:blueviolet;
    font-size: 25px;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  nav {
    padding: 5 5 5 5;
  }

  ul {
    padding: 5;
  }

  ol {
    padding: 0;
  }

  a {
    color:brown;
    text-decoration:none;
  }

  a:hover {
    color:darkslateblue;
    text-decoration:none;
  }
  
  .header,
  .footer {
    text-align: center;
    height:65px;
    padding: 30px;
    background-color: orange;
  }
  
  .menu {
    width:25%;
    height:auto;
    float:left;
    margin: 5px;
    padding: 10px;
  }
  
  .right {
    width:70%;
    height:auto;
    float:left;
    margin: 5px;
    padding: 10px;
  }
  
  .main-image {
    width:100%;
  }

  .clear {
    clear:both;
  }

  .wrap {
    width:1200px;             
    margin:auto;
  }
  
