@font-face {
  font-family: "Zen Old Mincho";
  src: local("Zen Old Mincho"),
  url("/font/ZenOldMincho-Regular.ttf") format("opentype") tech(color-COLRv1), url(/font/ZenOldMincho-Regular.ttf)
  format("opentype"), url("/font/ZenOldMincho-Regular.ttf") format(ttf);
}
  body, p {
    font-family: "Zen Old Mincho", serif;
    background-color: lightyellow;
    font-size: 20px;
    line-height: 1.5em;
    margin-left: 20px;
  }

  strong, em {
    color:blue;
    margin-left: 20px;
  }
  
  h1 {
    color:forestgreen;
    font-size: 35px;
    margin-left: 20px;
  }

  h2 {
    color:orange;
    font-size: 30px;
    margin-left: 20px;
  }

  h3 {
    color:blueviolet;
    font-size: 25px;
    margin-left: 20px;
  }
  
  img {
    margin-left: 20px;
  }

  a {
    color:brown;
    text-transform: none;
    text-decoration:none;
  }

  a:hover {
    color:darkslateblue;
    text-decoration:line-through;
  }